body {
    background-color: rgb(1, 19, 44);
    text-align: center;
}

h1 {
    font-size: 195%;
    padding-top: 3%;
    color: white;
}
p {
    color: white;
}
form {
    text-align: center;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}